* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    background-color: rgb(0, 0, 0);
    height: 500px;
    align-content: center;
}
.bg-secondary{
    background-image: var(--bs-gradient);
    background-color: #767676;
    display: grid;
    gap: 10px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

#btnMain{
    grid-row: 3;
    grid-column: 1;
    gap: 10px;
    font-size: 15px;
    justify-self: center;
    background-color: brown;
}